.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #8B5E3C, #5D4037); /* Fondo café */
    min-height: 100vh;
}

.logout-btn {
    background: #5d3f28;
    color: white;
    align-self: end;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #6D4C41;
}

.tasklist-title,
.filter-title {
    color: #fae5d3 
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
 }
 
.filter-by-status {
    min-width: 120px;
}

.search-container {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}
 
.filters-container {
    display: flex;
    flex-direction: row;
}

.filter-title {
    margin: 6px 0;
}

.tasklist-add-btn {
    background: #5d3f28;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.tasklist-add-btn:hover {
    background: #6D4C41;
}

.filters input,
.filters select {
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8B5E3C;
    font-size: 16px;
}

.filters-container .date-input {
    width: 80%;
}

.tasks-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
}

.task-card {
    background: #FBE9E7;
    width: 250px;
    min-height: 180px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: Arial, sans-serif;
    transition: transform 0.2s;
}

.task-card:hover {
    transform: scale(1.05);
}

.tasklist-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
}

.task-actions { 
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px
}

.edit-icon {
    font-size: 20px;
    cursor: pointer;
    color: #8B5E3C;
    transition: 0.3s;
}
  
.edit-icon:hover {
    color: #5D4037;
}

.delete-icon {
    font-size: 20px;
    cursor: pointer;
    color: #D84315;
    transition: 0.3s;
}

.delete-icon:hover {
    color: #B71C1C;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background: #FAE5D3;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    position: relative;
}
  
.modal-content h3 {
    color: #5D4037;
}
  
.modal-content input,
.modal-content select,
.modal-content textarea {
    width: 95%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #8B5E3C;
    font-size: 16px;
}
  
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
  
.modal-buttons button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
  
.modal-buttons .save-btn {
    background: #8B5E3C;
    color: white;
}
  
.modal-buttons .cancel-btn {
    background: #D84315;
    color: white;
}
  
.modal-buttons button:hover {
    opacity: 0.8;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    color: #5D4037;
}

.task-description {
    font-size: 14px;
    color: #6D4C41;
    margin: 10px 0;
    height: 100px;
    overflow-y: auto;
}

.task-status {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.task-status.pendiente {
    color: #D84315;
}

.task-status.en-progreso {
    color: #FFA000;
}

.task-status.completada {
    color: #2E7D32;
}

.task-due-date {
    font-size: 13px;
    color: #8D6E63;
    font-style: italic;
}

.no-tasks {
    color: white;
}

@media (max-width: 420px) {
    .filters-container {
      flex-direction: column;
    }
}